/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    // tap-hold
    behaviors {
        th: mod_space {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  CTRL |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  CTRL |
// |  CMD  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |  CMD  |
// |  OPT  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   '   |  OPT  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |  ENTER |  |  ESC  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | SPACE | RAISE| BSPC  | GUI   |
            bindings = <
&kp LCTRL &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                                    &kp N6    &kp N7   &kp N8    &kp N9  &kp N0   &kp RCTRL
&kp LCMD  &kp Q  &kp W  &kp E    &kp R    &kp T                                     &kp Y     &kp U    &kp I     &kp O   &kp P    &kp RCMD
&kp LALT  &kp A  &kp S  &kp D    &kp F    &kp G                                     &kp H     &kp J    &kp K     &kp L   &kp SEMI &kp RALT
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B      &kp RET         &kp ESC        &kp N     &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LALT &kp LGUI &lt 1 BSPC &th LSFT SPACE  &th RSFT SPACE &lt 2 DEL &kp BSPC &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |       |     |     |  ^   |      |      |                   |      |  -    |  ^    |  =   |       |       |
// |       |  !  |  <- |  v   |  ->  |  %   |                   |  ^   |  <-   |  v    |  ->  |   )   |       |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   | ENTER |       |
//                     |      |      |      |        |  | BSPC  |      |       |       |
            bindings = <
&bt BT_CLR &bt BT_SEL 0     &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3 &bt BT_SEL 4                      &trans    &trans    &trans    &trans    &trans    &trans
&trans     &trans           &trans            &kp UP            &trans       &trans                            &trans    &kp MINUS &kp UP    &kp EQUAL &trans    &trans
&trans     &kp EXCL         &kp LEFT          &kp DOWN          &kp RIGHT    &kp PRCNT                         &kp CARET &kp LEFT  &kp DOWN  &kp RIGHT &kp RPAR  &trans
&trans     &trans           &trans            &trans            &trans       &trans    &trans   &trans         &trans    &kp MINUS &kp PLUS  &kp LBRC  &kp RET   &trans
                                              &trans            &trans       &trans    &trans   &th RSFT BSPC  &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |  {  |  [  |  (   |  &   |  ^   |                   |      |   _   |   (   |  [   |   {   |       |
// |       |  }  |  ]  |  )   |  *   |  `   |                   |      |       |   )   |  ]   |   }   |       |
// |       |  !  |  @  |  #   |  $   |  %   |        |  |       |  +   |   -   |   =   |      |   \   |       |
//                     |      |      |      | DELETE |  |       |      |       |       |
            bindings = <
&trans    &trans   &trans   &trans   &trans    &trans                            &trans      &trans    &trans    &trans   &trans    &trans
&trans    &kp LBRC &kp LBKT &kp LPAR &kp AMPS  &kp CARET                         &trans      &kp UNDER &kp LPAR  &kp LBKT &kp LBRC  &trans
&trans    &kp RBRC &kp RBKT &kp RPAR &kp ASTRK &kp GRAVE                         &trans      &trans    &kp RPAR  &kp RBKT &kp RBRC  &trans
&trans    &kp EXCL &kp AT   &kp HASH &kp DLLR  &kp PRCNT &trans        &trans    &kp KP_PLUS &kp MINUS &kp EQUAL &trans   &kp BSLH  &trans
                            &trans   &trans    &trans    &th LSFT DEL  &trans    &trans      &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
